#history {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f4f4f4;

  >h2 {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 2;
    padding: 10px;
  }

  .preview_members {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    .box {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      .pic {
        position: relative;
        width: 50%;
        height: 70%;
        h3 {
          width: 100%;
          position: absolute;
          text-align: center;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: $fontXXXL;
          background: #111;
          padding: 10px 0;
        }
      }

      .text_box {
        padding: 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          font-size: $fontLL;
          line-height: 1.5;
          margin-bottom: 50px;
        }
      }

    }
  }
  .swiper-button-prev {
    position: absolute;
    left: auto;
    right: 22%;
    color: #111;
    top: auto;
    bottom: 15%;
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: 0.5s;

  }

  .swiper-button-next {
    position: absolute;
    left: auto;
    right: 17.5%;
    color: #111;
    top: auto;
    bottom: 15%;
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }

  .swiper-button-prev:after {
    font-family: 'Roboto';
    content: 'PREV';
    font-weight: 700;
    padding: 10px;
    font-size: $fontXL;
    background: $pointColor;
  }

  .swiper-button-next:after {
    font-family: 'Roboto';
    content: 'NEXT';
    font-weight: 700;
    padding: 10px;
    font-size: $fontXL;
    background: $pointColor;
  }
}
