@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=Noto+Sans:wght@500;700&family=Roboto:wght@400;700&display=swap');

$tablet: 1179px;
$mini: 900px;
$mobile: 539px;
//font
$fontBig : 7rem;
$fontXXXXL: 4rem;
$fontXXXL: 3rem;
$fontXXL: 2rem;
$fontXL: 1.5rem;
$fontLL: 1.2rem;
$fontL: 1rem;
$fontM: 0.875rem;
$fontS: 0.75rem;

//color
$pointColor: #ffba00;
$bgColor : rgb(46, 44, 44);

//common
@import 'common/reset';
@import 'common/layout';
@import 'common/header';
@import 'common/footer';
@import 'common/menu';
@import 'common/popup';

//main
@import 'main/visual';
@import 'main/pics';
@import 'main/vids';
@import 'main/btns';
@import 'main/history';

//sub {
@import 'sub/jeeplife';
@import 'sub/community';
@import 'sub/media';
@import 'sub/mediaSlider';
@import 'sub/location';
@import 'sub/join';
@import 'sub/gallery';

